<div class="banner" style="background-image: url('http://treibholzeffekt.com/wp-content/uploads/2014/12/Werkzeuge_dunkel.jpg');">
  <h1>Neighborhood Sharing</h1>
  <%= button_to "Show all tools", "tools", :method => :get %>
</div>

<div>
  <h2 class="top_tool">Our Top Tools</h2>
  <div class="row main_container">
    <% @tools.each do |tool| %>
      <%= render 'card', tool: tool %>
    <% end %>
  </div>
</div>

