<h1>This is is the show view </h1>

<%= link_to "Delete", tool_path(@tool), method: :delete %>

<%= link_to "Return", tools_path %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <h2 class="card-category"><%= @tool.name%></h2>
  <div class="card-description">
    <h2><%= @tool.description %></h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
