.product-list li{
  border:1px solid #ccc;
  list-style:none;
  overflow:auto;
  border-bottom:1px dashed #0073ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// .product-list span[class|=product]{
//   font-family:Microsoft JhengHei;
//   margin:2%;
//   float:left;
// }
// // .product-list li:last-child{
// //   border-bottom:1px solid #ccc;
// //   padding:2% 5%;
// // }
// .product-check{
//   float:left;
// }
// .product-img{
//   border:1px solid #eee;
//   padding:2px;
//   height: 40px;
//   width: 40px;
// }
.product-title{
  text-decoration: underline;
  color:#ff8c00 ;
  width:30%;
}
// .product-category{
//    font-weight:bold;
//    width:10%;
// }
.product-count input{
  width:20px;
}

// #shopping_chart{
//   display: flex;
// }

.scartlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booking_action {
  display: flex;
  justify-content: space-around;
  margin-top: 47px;
  align-items: center;
  flex-direction: column;
}

.dashboard-box {
  color: grey;
  font-weight: lighter;
  line-height: 25px;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 4px -6px 12px 6px rgba(200, 200, 200, 0.75);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 756px;
  padding-bottom: 50px;
}

.dashboard-card {
  height: 138px;
  width: 154px;
  margin: 1px !important;
}

.dashboard-h4 {
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
color: white;
}

.action-card {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.booking-info {
  padding: 0px !important;
  margin-left: 15px;
  align-items: center;
}

.button-A-D {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 19px;
}

.btn-warning{
  margin-left: 11px;
}



