.product-list li{
  border:1px solid #ccc;
  list-style:none;
  overflow:auto;
  border-bottom:1px dashed #0073ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// .product-list span[class|=product]{
//   font-family:Microsoft JhengHei;
//   margin:2%;
//   float:left;
// }
// // .product-list li:last-child{
// //   border-bottom:1px solid #ccc;
// //   padding:2% 5%;
// // }
// .product-check{
//   float:left;
// }
// .product-img{
//   border:1px solid #eee;
//   padding:2px;
//   height: 40px;
//   width: 40px;
// }
.product-title{
  text-decoration: underline;
  color:#ff8c00 ;
  width:30%;
}
// .product-category{
//    font-weight:bold;
//    width:10%;
// }
.product-count input{
  width:20px;
}

// #shopping_chart{
//   display: flex;
// }

.scartlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booking_action {
  display: flex;
  justify-content: space-around;
  margin-top: 47px;
  flex-direction: row;
}

.dashboard-box {
  color: grey;
  font-weight: lighter;
  line-height: 25px;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.75);
  height: 350px;
  padding: 15px;
}

.dashboard-card {
  height: 138px;
  width: 154px;
}


