// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

h1 {
  text-align: center;
}

.home-boarder {
  border-top: 5px solid lightgray;
  margin-top: 20 px;
  display: flex;
  margin: 50px;
}
