.img-rounded {
    border-radius: 29px;
    height: 258px;
    margin-right: 47px;
    margin-top: 48px;
}

.banner {
  height: 350px;
}


.banner-show {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 88px;
  margin-left: 322px;
}

.infobox {
  display: flex;
  justify-content: space-around;
}
