<h2>Show shopping chart</h2>

<div class="container">
  <div class="row">
    <div class="add_tool">
      <% if policy(Tool).create? %>
        <%= link_to 'Add new tool', new_tool_path %>
      <% end %>
    </div>
  </div>
</div>

<!-- @tool = Tool.find(params[:tool_id]) -->
