.card {
  color: $white;
  text-shadow: 2px 2px 4px #000000;
  padding: 1%;

}

.card-background{
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75);
  background-position: center;
  background-size: cover;
}


.card_show {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  border-radius: 5px;
}

.tool_info {

}
