// .disable{
// }

// .destroy:hover {
//   background-color: $red;
// }

.far {
  margin: 0px;
}

.disable {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 20px;
}

.destroy {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 20px;
}
