 html {
  position:relative;
  min-height: 100%;
 }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  padding: 0px 50px;
  color: white;
  background-position: cover;
  margin-top: 100px;
  // sticky footer
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-links {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 100px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin-top: 100px;
}
.footer-links a:hover {
  opacity: 1;
  padding-bottom: 7px;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  margin-top: 180px;
}
